.quick_links {
  background-color: #cc8899;
  border: 2px solid #cc8899;
  padding: 2px;
  color: white;
  font-family:'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Calisto MT', 'Times New Roman', serif;
  text-align: center;
  width: 22%;
  margin-left: 39%;
  margin-right: 39%;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
}

.profile {
  border: 1px solid black;
  padding: 8px;
  border-collapse: collapse;
  font-size: 18px;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.profile th {
  border: 1px solid black;
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.profile tr:nth-child(even) {
  background-color: lightgreen;
}

.profile tr:hover {
  background-color: lightgray;
}

.profile td {
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

.quick_links_disabled {
  background-color: lightgray;
  border: 2px solid lightgray;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-family:'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Calisto MT', 'Times New Roman', serif;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 3px;
  font-style: bold;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
  text-decoration: line-through;
  color: white;
}
