.add_bachelors_info {
  display: block;
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
}
.buttons {
  display: block;
  margin-top: 8%;
  margin-left: 5%;
}

.buttons button {
  color: green;
  background-color: lightgreen;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid green;
  border-radius: 10px;
}

.signup_select, .approved_select, .buttons {
  float:left;
}

.signup_select, .approved_select {
  width: 20%;
  height: 50%;
}

.signup_select {
  margin-left: 10%;
}

.bachelor_signup_info {
  margin-left: 15%;
  height: 400px;
  overflow-y: scroll;
  visibility: collapse;
  width: 70%;
}

.approved_select {
  margin-left: 5%;
}

.bachelor_signup, .bachelor_approved {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
}

input[type='submit']:enabled,
input[type='button']:enabled {
  margin-top: 5%;
  margin-left: 2%;
  width: 20%;
  background-color: lightgreen;
  color: green;
  /* padding: 14px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type='submit']:disabled,
input[type='button']:disabled {
  width: auto;
  background-color: lightgray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: line-through;
}

input[type=submit]:hover,
input[type='button']:hover {
  background-color: #45a049;
}

input, select {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bachelor_forms input[type='submit']:enabled,
.bachelor_forms input[type='button']:enabled {
  width: auto;
  background-color: lightgreen;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bachelor_forms input[type='submit']:hover,
.bachelor_forms input[type='button']:hover {
  background-color: #45a049;
}

.bachelor_forms {
  display: block;
  background-color: green;
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 10%;
  margin-top: 30px;
}

.bachelor_forms input[type='radio'] {
  width: 10%;
}
