.about_heartbreaka {
  display: none;
}
.event {
  display: none;
  width: 100%;
  height: 90%;
}

.bachelor {
  width: 90%;
  height: 100%;
  display: none;
  overflow-y: visible;
  margin-left: auto;
  margin-right: auto;
}

.bachelor table {
  width: 100%;
  height: 25%;
  border-top: 5px solid #cc8899;

}

.name {
  background-color: pink;
  border-bottom: 5px solid #cc8899;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

.bachelor td {
  background-color: white;
  /* padding: 20px; */
  width: 50%;
  padding-bottom: 5px;
}

.bachelor_img {
  text-align: center;
  /* width: 80%;
  height: 40%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #cc8899;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px; */
}

.bachelor_img img{
  width: 50%;
  border: 10px solid pink;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* .bachelor_info {
  width: 100%;
  text-align: center;
  font-size: 18px;
  overflow-y: visible;
} */

.days, .hours, .minutes, .seconds {
  float: left;
  width: 15%;
  height: 15%;
  border: 5px solid #cc8899;
  margin: 10px;
  border-radius: 10px;
  background-color: pink;
  font-weight: bold;
}

.countdown {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-left: 18%;
  display: none;
}

.num {
  font-size: 70px;
}

.quick_links {
  background-color: #cc8899;
  border: 2px solid #cc8899;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-family:'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Calisto MT', 'Times New Roman', serif;
  text-align: center;
  width: 20%;
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 3px;
  font-style: bold;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
}

.make_bid {
  background-color: #cc8899;
  width: 40%;
  margin-left: 30%;
  padding: 10px;
  padding-right: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.make_bid input[type=number] {
  width: 20%;
}

.make_bid input[type=submit] {
  width: auto;
  background-color: lightpink;
  color: black;
  padding: 14px 20px;
  padding-right: 30px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.make_bid input[type=submit]:hover {
  background-color: pink;
}

.current_bid, .timer {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#bid {
  color: #cc8899;
}

@media (min-width: 320px) {
  .num {
    font-size: 20px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 10px;
  }

  .name {
    font-size: 15px;
  }
}

@media (min-width: 400px) {
  .num {
    font-size: 22px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 12px;
  }

  .name {
    font-size: 18px;
  }
}

@media (min-width: 650px) {
  .num {
    font-size: 30px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 15px;
  }

  .name {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .num {
    font-size: 40px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 18px;
  }

  .name {
    font-size: 25px;
  }
}

@media (min-width: 1300px) {
  .num {
    font-size: 50px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 21px;
  }

  .name {
    font-size: 30px;
  }
}

@media (min-width: 1700px) {
  .num {
    font-size: 80px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 40px;
  }

  .name {
    font-size: 40px;
  }
}
