div.bachelors_gallery {
  /* border: 1px solid #ccc; */
  border: 5px solid #cc8899;
  float: left;
  width: 300px;
  height: 350px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 10px;
  background-color: lightpink;
  border-radius: 10px;
  /* border: 5px solid lightpink; */
}

div.bachelors_gallery:hover {
  border: 5px solid #cc8899;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.bachelors_gallery.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

div.flip-card-inner img {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.bachelor_img {}

div.desc {
  padding: 15px;
  text-align: center;
}

.biography {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 50%;
  overflow: auto;
  margin-top: 5px;
  background-color: white;
  padding-bottom: 30px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  cursor: pointer;
  background-color: white;
  opacity: 0.1;
}

.bachelor_img {
  width: 100%;
  height: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.bachelor_info {
  width: 100%;
  background-color: white;
  /* float: left; */
  /* margin-left: 30px; */
}

.bachelor_info p {
  text-align: center;
}

.bachelor_questions {
  width: 100%;
}

.bachelor_questions table{
  width: 100%;
  /* margin-left: 20% ;
  margin-right: 20%; */
  border: 2px solid #cc8899;
  border-collapse: collapse;
}

.bachelor_questions table td{
  width: 50%;
  border: 2px solid #cc8899;
  border-collapse: collapse;
}

.bachelor_questions table tr {
  border-bottom: 2px solid #cc8899;
}

#question {
  text-align: right;
  padding-right: 20px;
}

.more_info:hover {
  color: #cc8899;
  cursor: pointer;
}
