input, select {
  width: 80%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: lightgreen;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type="radio"] {
  width: 5%;

}

form {
  background-color: green;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#aka_dollars {
  margin-left: 15%;
}

.payment_rows::after {
  display: table;
  content: "";
  clear: both;
}

.column_left, .column_middle, .column_right {
  width: 31%;
  float: left;
  padding-left: 20px;
}

.monetary_donations_everyone p {
  margin-left: 20px;
  width: 95%;
}

.monetary_donations_everyone ol {
  margin-left: 30px;
}

h3 {
  width: 70%;
  text-align: center;
}

.monetary_donations_attendee p {
  margin-left: 20px;
  width: 95%;
}

.monetary_donations_attendee ol {
  margin-left: 30px;
}
