.slideshow {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 1%;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  margin-top: 0;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slide_number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.quick_links {
  background-color: green;
  border: 2px solid lightgreen;
  padding: 10px;
  color: white;
  font-family:'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Calisto MT', 'Times New Roman', serif;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
}

.quick_links #auction {
  margin-right: 10%;
}

div#links.buttons {
  height: 10%;
  margin-bottom: 10px;
  width: 100%;
}

.section {
  margin-bottom: 2%;
}
.section h2 {
  width: 100%;
  text-align: center;
  margin-left: 0%;
  font-size: 40px;
}

.section img {
  width: 400px;
  height: 400px;
}

.section table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.table_info {
  background-color: pink;
  width: 100%;
}

.section tr {
  width: auto;
}

.section td {
  width: auto;
  height: 50%;
  padding: 10px;
}

.section p {
  font-size: 20px;
}

.section form {
  text-align: center;
}

#curator-feed-default-feed-layout {
    width: 100%;
    overflow-x: scroll;
}

/* .crt-feed-scroll, .crt-feed {
  z-index: 0;
} */

#instagram {
  overflow-y: hidden;
  margin-bottom: 50px;
}

#instagram .table_info {
  height: 340px;
}

#instagram p {
  text-align: center;
}

#instagram a {
  color: green;
  border-bottom: 2px solid green;
  text-decoration: none;
}
