.curr_bid {
  width: 102%;
  background-color: #cc8899;
  color: white;
  text-align: center;
  margin-bottom: 2%;
}

.bachelors_auction {
  width: 30%;
  margin-left: 35%;
  height: auto;
  border-radius: 5px;
}

.bachelor_bio {
  float: left;
  width: 100%;
  background-color: pink;
  padding: 5px;
}

.biography {
  background-color: pink;
  margin-top: 4%;
  float: left;
  /* margin-bottom: 5%; */
}

.name {
  background-color: pink;
  border-bottom: 5px solid #cc8899;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: black;
}

.bachelor_img img{
  width: 102%;
}

.num {
  font-size: 70px;
}

.quick_links {
  background-color: #cc8899;
  border: 2px solid #cc8899;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-family:'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Calisto MT', 'Times New Roman', serif;
  text-align: center;
  width: 20%;
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 3px;
  font-style: bold;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
}

.make_bid {
  background-color: #cc8899;
  width: 100%;
  /* margin-left: 30%; */
  padding: 5px;
  /* padding-right: 5px; */
  /* border-radius: 10px; */
  color: white;
  font-weight: bold;
  margin-bottom: 2%;
}

.make_bid p {
  left: 0;
  font-size: 15px;
  margin-left: 20%;
}

.make_bid input[type=number] {
  width: 40%;
  margin-left: 20%;
}

.make_bid input[type=number]:disabled {
  width: 40%;
  background-color: lightgray;
  color: white;
}

.make_bid input[type=submit] {
  width: auto;
  background-color: lightpink;
  color: black;
  padding: 10px;
  /* padding: 14px 20px; */
  /* padding-right: 30px; */
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.make_bid input[type=submit]:hover {
  background-color: pink;
}

.make_bid input[type=submit]:disabled {
  background-color: lightgray;
  color: white;
  text-decoration: line-through;
}

.curr_bid, .timer {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#bid {
  color: white;
}

@media (min-width: 320px) {
  .num {
    font-size: 20px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
    height: 500px;
  }

  .label {
    font-size: 10px;
  }

  .name {
    font-size: 12px;
  }
}

@media (min-width: 400px) {
  .num {
    font-size: 22px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 12px;
  }

  .name {
    font-size: 12px;
  }
}

@media (min-width: 650px) {
  .num {
    font-size: 30px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 15px;
  }

  .name {
    font-size: 14px;
  }
}

@media (min-width: 1100px) {
  .num {
    font-size: 40px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
  }

  .label {
    font-size: 18px;
  }

  .name {
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .num {
    font-size: 50px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
    height: 600px;
  }

  .label {
    font-size: 21px;
  }

  .name {
    font-size: 18px;
  }
}

@media (min-width: 1700px) {
  .num {
    font-size: 80px;
  }

  .days, .hours, .minutes, .seconds {
    margin: 2px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
  }

  .countdown {
    padding-left: 15%;
    height: 700px;
  }

  .label {
    font-size: 40px;
  }

  .name {
    font-size: 20px;
  }
}
