.buttons {
  display: block;
  margin-top: 8%;
  margin-left: 5%;
}

.buttons button {
  color: green;
  background-color: lightgreen;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid green;
  border-radius: 10px;
}

.current_select, .new_select, .buttons{
  float:left;
}

.current_select, .new_select {
  width: 20%;
  height: 50%;
}

.current_select {
  margin-left: 10%;
}

.new_select {
  margin-left: 5%;
}

.current_order, .new_order {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
}

input[type='submit'] {
  margin-top: 20%;
  margin-left: 2%;
  width: 20%;
  background-color: lightgreen;
  color: green;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #45a049;
}
